$main-color: #000000;
$accent-color: #222222;
$font-size: 10px;
$font-family: "Open Sans", sans-serif;
$box-border: 5px solid #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $font-family;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

hr {
  width: 15%;
  margin: auto;
  height: 4px;
  background-color: rgb(255, 189, 89);
  border: none;
}

.first-box {
  width: 100%;
  height: 35vh;
  //   background: url("../src/HRBreakoutRoom_files/20210126_223132_0001.png");
  background: url("../src/HRBreakoutRoom_files/20210126_223132_0001.png");
  background-position: 75% 50%;
  background-size: cover;
  //   border-bottom: 5px solid #000000;

  nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 5rem 1rem;
    .logo {
      width: 30%;
      img {
        width: 70%;
      }
    }
    ul {
      display: flex;
      list-style: none;
      width: 40%;
      justify-content: space-around;

      li {
        font-size: 1.9rem;
        font-weight: 500;
        a {
          text-shadow: rgba(255, 189, 89, 0.4) 0.883883px 0.883883px 0px;
          text-decoration: none;
          color: rgb(110, 98, 127);
        }
      }
    }
  }
  #banner {
    width: 90%;
    margin: auto;
    .banner-details {
      width: 35%;
      padding: 10rem 0 0 5rem;
      #smart-hr {
        img {
          width: 100%;
        }
      }
      #clicks {
        a {
          width: 40%;
          height: inherit;
          img {
            width: 40%;
            height: inherit;
          }
        }
      }
    }
  }
}

.sec-box {
  border-top: $box-border;
  border-bottom: $box-border;
  width: 100%;
  //   height: 70vh;

  h1 {
    font-size: 2.6rem;
    padding: 5rem 0;
  }
  h3 {
    font-size: 1.5rem;
    // font-weight: 400;
    padding: 8rem;
  }
  h5 {
    font-size: 8rem;
    padding: 4rem 0 0 0;
    font-weight: 200;
  }
  p {
    font-size: 2.2rem;
    font-weight: 300;
  }
  #welcome {
    width: 100%;
    // height: 100vh;
    h1 {
      font-size: 2.6rem;
      padding: 4rem 0;
    }
    h3 {
      font-size: 1.55rem;
      // font-weight: 400;
      padding: 8rem;
    }

    #office {
      width: 100%;
      img {
        width: 100%;
      }
    }
    #welcome-info {
      margin: auto;
      //   padding: 1rem;
      width: 75%;
      text-align: center;
    }
  }
  #core-service {
    width: 100%;
    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      padding: 0;
    }
    #serv-info {
      width: 60%;
      margin: auto;
      text-align: center;
      h1 {
        font-size: 2.6rem;
      }
      h5 {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
    #serv-pics {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 0 5rem 10rem;
      div {
        padding: 1rem;
        width: 100%;
        object-fit: cover;
        h3 {
          font-size: 2.1rem;
          font-weight: 700;
        }
        p {
          font-size: 2rem;
        }

        img {
          width: 100%;
          height: inherit;
          object-fit: cover;
          //   height: 6vh;
          object-fit: contain;
        }
      }
    }
  }
}

.third-box {
  width: 100%;
  padding: 0 0 10rem;
  //   height: 100vh;
  #speak-consultant {
    width: 100%;
    height: 100%;
    #speak-img {
      height: 15vh;
      #spk-imgcon {
        padding: 0;
      }
      div {
        height: 100%;
        width: 100%;
        // padding-top: 0;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    #vismis {
      display: flex;
      padding: 10rem 0 5rem;
      align-items: flex-start;
      justify-content: space-around;
      div {
        text-align: center;
        margin: 0 auto;
        // width: 30%;
        hr {
          width: 20%;
          margin: 2rem auto;
        }
        h1 {
          font-size: 1.9rem;
          font-weight: 300;
        }
        p {
          font-size: 2.5rem;
        }
      }
    }
    div {
      div {
        width: 25%;
        margin: auto;
        img {
          width: 100%;
        }
      }
    }
  }
}

.fourth-box {
  width: 100%;
  //   height: 80vh;
  //   margin-top: 20vh;
  //   padding-bottom: 20vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../src/HRBreakoutRoom_files/s3.jpg");
  background-size: cover;
  background-position: center;
  #meet-the-team {
    width: 100%;
    text-align: center;
    h1 {
      font-size: 7rem;
      padding: 2rem;
    }
    #team-pics {
      display: flex;
      padding: 2rem 2rem 4rem;
      div {
        padding: 1rem;
        width: 25%;
        img {
          width: 60%;
          border-radius: 50%;
          border: 8px #dddddd Solid;
        }
        h3 {
          font-size: 1.6rem;
          font-weight: 600;
        }
        h4 {
          font-size: 1.5rem;
          color: rgb(255, 189, 89);
        }
        p {
          font-size: 1.6rem;
          text-align: justify;
        }
      }
    }
  }
  border-bottom: $box-border;
}

.fifth-box {
  width: 100%;
  //   height: 110vh;
  //   padding-bottom: 2vh;

  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  // url("../src/HRBreakoutRoom_files/s3.jpg");
  #testimonials {
    width: 100%;
    height: 40vh;
    text-align: center;
    h1 {
      font-size: 6rem;
      padding: 4rem;
    }
    #testi-pics {
      display: flex;
      width: 100%;
      //   padding: 10rem;
      div {
        padding: 4rem 4rem 0 4rem;
        min-width: 40%;
        img {
          width: 15vw;
          height: 15vw;
          object-fit: fill;
          object-position: center;
          border-radius: 50%;
        }
        h2 {
          font-size: 2rem;
          //   font-weight: 300;
        }
        p {
          font-size: 1.6rem;
          text-align: justify;
        }
        .stars {
          //   width: 60%;
          padding: 20px;
          margin: auto;
          display: flex;
          justify-content: center;
          img {
            width: 25px;
            height: 25px;
            margin: 0 10px;
          }
        }
      }
    }
  }
}

.sixth-box {
  width: 100%;

  #clients {
    width: 100%;
    text-align: center;
    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 2rem;
    }
    .client-brand {
      padding-bottom: 10rem;
      width: 100%;
      img {
        width: 16%;
      }
    }
    .done-so-far {
      display: flex;
      width: 100%;
      padding-bottom: 5rem;
      div {
        width: 50%;
        img {
          width: 100%;
        }

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
    .get-in-touch {
      width: 100%;
      height: 5rem;
      background-color: rgb(46, 37, 40);
      display: flex;
      justify-content: center;
      align-items: center;
      //   margin-bottom: 8rem;
      button {
        width: 30%;
        background-color: transparent;
        border: 0;
        outline: none;
        font-size: 2.8rem;
        color: white;
        img {
          height: 30px;
        }
        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

footer {
  width: 100%;
  //   height: 100vh;
  .founders {
    width: 100%;
    height: 70%;
    background: url("../src/HRBreakoutRoom_files/s3\(7\).jpg");
    background-position: center center;
    background-size: cover;
    img {
      height: 100%;
      max-width: 60%;
    }
  }
  .contact-us {
    width: 100%;
    // height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    #mail-phone {
    }
    #med-sche {
      align-items: center;
    }
    .contact {
      //   width: 70%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 2rem 2rem;

      h2 {
        font-size: 1.8rem;
        // font-weight: 300;
      }
      p {
        font-size: 1.3rem;
        a {
          color: #000000;
          text-decoration: none;
        }
      }
      div {
        padding: 2rem 20px;
      }
      .s-media {
        display: flex;
        justify-content: space-around;
        img {
          max-width: 60px;
          padding: 0 1rem;
        }
      }

      .schedule {
        button {
          width: 20vw;
          border: 5px black solid;
          background-color: rgb(255, 189, 89);
          height: 4vh;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .first-box {
    width: 100%;
    height: 100vh;
    //   background: url("../src/HRBreakoutRoom_files/bantersnaps-5U_28ojjgms-unsplash.jpg"),
    background: url("../src/HRBreakoutRoom_files/20210126_223132_0001.png");

    background-position: center;
    background-size: cover;
    nav {
      padding: 8rem 1rem;
      ul {
        li {
          font-weight: 2.2rem;
          font-weight: 600;
        }
      }
    }
    #banner {
      width: 90%;
      margin: auto;
      .banner-details {
        width: 35%;
        padding: 10rem 0 0 5rem;
        #smart-hr {
          img {
            width: 100%;
          }
        }
        #clicks {
          img {
            width: 40%;
          }
        }
      }
    }
  }

  .sec-box {
    #welcome {
      width: 100%;
      // height: 100vh;
      h1 {
        font-size: 3.6rem;
        padding: 4rem 0;
      }
      h3 {
        font-size: 2.6rem;
        // font-weight: 400;
        padding: 8rem;
      }

      #office {
        width: 100%;
        img {
          width: 100%;
        }
      }
      #welcome-info {
        margin: auto;
        //   padding: 1rem;
        width: 60%;
        text-align: center;
      }
    }
    #core-service {
      width: 100%;
      h3 {
        font-size: 2.8rem;
        font-weight: 400;
        padding: 0;
      }
      #serv-info {
        width: 60%;
        margin: auto;
        text-align: center;
        h1 {
          font-size: 4.4rem;
        }
        h5 {
          font-size: 2.2rem;
          font-weight: 700;
        }
      }
    }
    #serv-pics {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 0 5rem 10rem;
      div {
        padding: 1rem;
        width: 100%;
        h3 {
          font-size: 2.1rem;
          font-weight: 700;
        }
        p {
          font-size: 2rem;
        }

        img {
          width: 100%;
          height: 30vh;
          object-fit: contain;
        }
      }
    }

    // #welcome {
    //   width: 100%;
    //   // height: 100vh;
    //   h1 {
    //     font-size: 4.8rem;
    //     padding: 4rem 0;
    //   }
    //   h3 {
    //     font-size: 3.6rem;
    //     font-weight: 600;
    //     padding: 8rem;
    //   }
    // }
    // h1 {
    //   //   font-size: 4.8rem;
    //   padding: 8rem;
    // }
    // h3 {
    //   //   font-size: 3.5rem;
    //   // font-weight: 400;
    //   padding: 8rem;
    // }
    // h5 {
    //   //   font-size: 2.7rem;
    //   padding: 4rem 0 0 0;
    //   font-weight: 300;
    // }
    // p {
    //   //   font-size: 2.2rem;
    //   font-weight: 300;
    // }
  }
  .third-box {
    height: 100vh;
    #speak-consultant {
      width: 100%;
      height: 100%;
      #speak-img {
        height: 45%;
        div {
          height: 100%;
          width: 100%;
          padding-top: 8vh;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      #vismis {
        display: flex;
        padding: 10rem 0 5rem;
        align-items: flex-start;
        justify-content: space-around;
        div {
          text-align: center;
          width: 30%;
          hr {
            width: 20%;
            margin: 2rem auto;
          }
          h1 {
            font-size: 1.9rem;
            font-weight: 300;
          }
          p {
            font-size: 2.9rem;
          }
        }
      }
      div {
        div {
          width: 25%;
          margin: auto;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .fifth-box {
    width: 100%;
    // height: 110vh;
    padding-bottom: 5vh;

    background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
    // url("../src/HRBreakoutRoom_files/s3.jpg");
    #testimonials {
      text-align: center;
      height: auto;
      h1 {
        font-size: 8rem;
        padding: 10rem 0 0;
      }
      #testi-pics {
        display: flex;
        //   padding: 10rem;
        div {
          padding: 8rem;
          img {
            width: 15vw;
            height: 15vw;
            object-fit: fill;
            object-position: center;
            border-radius: 50%;
          }
          h2 {
            font-size: 3rem;
            //   font-weight: 300;
          }
          p {
            font-size: 2rem;
            text-align: justify;
          }
        }
      }
    }
  }
  .sixth-box {
    width: 100%;

    #clients {
      width: 100%;
      text-align: center;
      h1 {
        font-size: 1.9rem;
        font-weight: 600;
        padding: 4rem;
      }
      .client-brand {
        padding-bottom: 10rem;
        width: 100%;
        img {
          width: 16%;
        }
      }
      .done-so-far {
        display: flex;
        width: 100%;
        padding-bottom: 5rem;
        div {
          width: 50%;
          img {
            width: 100%;
          }

          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
      .get-in-touch {
        width: 100%;
        height: 8rem;
        background-color: rgb(46, 37, 40);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8rem;
        button {
          width: 30%;
          background-color: transparent;
          border: 0;
          outline: none;
          font-size: 2.8rem;
          color: white;
          img {
            height: 30px;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 100vh;
    .founders {
      width: 100%;
      height: 70%;
      background: url("../src/HRBreakoutRoom_files/s3\(7\).jpg");
      background-position: center center;
      background-size: cover;
      img {
        height: 100%;
        max-width: 60%;
      }
    }
    .contact-us {
      width: 100%;
      height: 30vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      #mail-phone {
      }
      #med-sche {
        align-items: center;
      }
      .contact {
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 2rem 2rem;

        h2 {
          font-size: 2.2rem;
          font-weight: 400;
        }
        p {
          font-size: 2rem;
          a {
            font-size: 2rem;
          }
        }
        div {
          padding: 2rem 20px;
        }
        .s-media {
          display: flex;
          justify-content: space-around;
          img {
            max-width: 60px;
            padding: 0 1rem;
          }
        }

        .schedule {
          button {
            width: 25vw;
            border: 5px black solid;
            background-color: rgb(255, 189, 89);
            height: 8vh;
            font-size: 2rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}
